@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  --background: #000000;  
  --foreground: #ffffff;
  font-family: "Inter", sans-serif;
}
/* #0d1117

*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter Tight", sans-serif;
}


/* global.css or styles.css */
.inter-tight {
  font-family: 'Inter Tight', sans-serif;
}

/* Custom scrollbar for input & textarea */
textarea::-webkit-scrollbar,
input::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

textarea::-webkit-scrollbar-track,
input::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb,
input::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 1px solid transparent;
}

textarea::-webkit-scrollbar-thumb:hover,
input::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
